{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
  <hr>
  <h3>tags</h3>
      {% if this.tags %}

         {% for t in this.tags -%}

           <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">
	                {{ t }}
            </a>
             <br>
	      {% endfor %}
       {% endif %}

{% endblock %}

