{% extends "layout.html" %}
{% block body %}



Tag: <strong>{{ this.tag }}</strong>
<hr>
Items:

<ul>
	  {% for i in this.items %}
	      <li><a href="{{ i|url }}">{{ i._id }}</a></li>
	        {% else %}
		    <li><em>No items.</em></li>
		      {% endfor %}
</ul>

{% for t in this.tags -%}
  <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">{{ t }}</a>
  {% endfor %}

  {% endblock %}
  
