body {
    font-family: 'Ubuntu';
    margin: 50px 25px;
    background-color: #073642;
    color: #839496;
}

a {
    font-family: 'Ubuntu';
    color: #839496;
}

a:hover {

    font-family: 'Ubuntu';
    color: #d33682;
}

header, footer, div.page {
    font-family: 'Ubuntu';
    width: 900px;
    margin: 0 auto;
    background: #002b36;
    padding: 20px 30px;
}

header h1 {
    font-family: 'Ubuntu';
    color:  #268bd2;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    font-family: 'Ubuntu';
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    font-family: 'Ubuntu';
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    font-family: 'Ubuntu';
    background: #002b36;
    color: #839496:
}
